<div class="form-wrapper">
  <!-- РЫНОК -->
  <div class="form-control">
    <div class="form-control__label">
      Рынок для Инновационных компаний
    </div>
    <div class="form-control__input">
      <sgr-dropdown [options]="['Transport & Logistics', 'Transport & Logistics 2', 'Transport & Logistics 3', 'Transport & Logistics 4']">
      </sgr-dropdown>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- ДАТА ОСНОВАНИЯ -->
  <div class="form-control">
    <div class="form-control__label">
      Дата основания
    </div>
    <div class="form-control__input">
      <input type="date">
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Технологии для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Технологии для Инновационных компаний
    </div>
    <div class="form-control__input">
      <select>
        <option value="1">Новые материалы</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Предоставляемые Услуги от Акселератора -->
  <div class="form-control">
    <div class="form-control__label">
      Предоставляемые Услуги от Акселератора
    </div>
    <div class="form-control__input">
      <select>
        <option value="1">Новые материалы</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Бизнес-модель для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Бизнес-модель для Инновационных компаний
    </div>
    <div class="form-control__input">
      <select>
        <option value="1">Новые материалы</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>
</div>
