<form [formGroup]="expressForm" class="form-wrapper" (ngSubmit)="onSubmit()">
  <!-- РЫНОК -->
  <div class="form-control">
    <div class="form-control__label">
      Рынок для Инновационных компаний
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="market" multiple disableRipple>
          <mat-option *ngFor="let market of marketList" [value]="market.itemName">{{market.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- ДАТА ОСНОВАНИЯ -->
  <div class="form-control">
    <div class="form-control__label">
      Дата основания
    </div>
    <div class="form-control__input">
      <input type="date" formControlName="creationDate">
    </div>
    <div class="form-control__description">
      Выберите дату основания
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Технологии для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Технологии для Инновационных компаний
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="technologies" multiple disableRipple>
          <mat-option *ngFor="let tech of technologiesList" [value]="tech.itemName">{{tech.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Стадия развития компании -->
  <div class="form-control">
    <div class="form-control__label">
      Стадия развития компании
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <!-- <mat-label>Выберите</mat-label> -->
        <mat-select formControlName="companyStage" disableRipple>
          <mat-option *ngFor="let stage of stageList" [value]="stage.itemName">{{stage.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Предоставляемые Услуги от Акселератора -->
  <div class="form-control">
    <div class="form-control__label">
      Предоставляемые Услуги от Акселератора
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="services" disableRipple>
          <mat-option *ngFor="let serviceItem of servicesList" [value]="serviceItem.itemName">{{serviceItem.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Бизнес-модель для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Бизнес-модель для Инновационных компаний
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="businessModel" multiple disableRipple>
          <mat-option *ngFor="let business of businessModelList" [value]="business.itemName">{{business.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <div class="full-width">
    <div class="actions">
      <button (click)="cancel()" >Отмена</button>
      <button type="submit" class="button__accent">Подобрать</button>
    </div>
  </div>
</form>
