<form [formGroup]="expressForm" class="form-wrapper" (ngSubmit)="onSubmit()">
  <!-- РЫНОК -->
  <div class="form-control">
    <div class="form-control__label">
      Рынок для Инновационных компаний
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="marketList" formControlName="market"
        [settings]="dropdownSettings"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- ДАТА ОСНОВАНИЯ -->
  <div class="form-control">
    <div class="form-control__label">
      Дата основания
    </div>
    <div class="form-control__input">
      <input type="date" formControlName="creationDate">
    </div>
    <div class="form-control__description">
      Выберите дату основания
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Технологии для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Технологии для Инновационных компаний
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="technologiesList" formControlName="technologies"
        [settings]="dropdownSettings"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Предоставляемые Услуги от Акселератора -->
  <div class="form-control">
    <div class="form-control__label">
      Предоставляемые Услуги от Акселератора
    </div>
    <div class="form-control__input">
      <sgr-dropdown [options]="servicesList" formControlName="services">
      </sgr-dropdown>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Бизнес-модель для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Бизнес-модель для Инновационных компаний
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="businessModelList" formControlName="businessModel"
        [settings]="dropdownSettings"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <div class="full-width">
    <div class="actions">
      <button (click)="cancel()" >Отмена</button>
      <button type="submit" class="button__accent">Подобрать</button>
    </div>
  </div>
</form>
