<div class="dropdown-wrapper {{className}} {{isFocused ? 'focus':''}}"
  [ngClass]="{'is-open':isOpen, 'disabled':isReadOnly}" *ngIf="options" (contextmenu)="$event.stopPropagation();">
  <div class="box" (click)="toggle($event)">
    <ng-container>
      <div class="dropdown-selected" *ngIf="isSelectedValue" l10nTranslate><span>{{options[selected].title}}</span></div>
      <div class="dropdown-selected" *ngIf="!isSelectedValue" l10nTranslate><span>{{placeholder}}</span></div>
    </ng-container>
  </div>

  <ul class="dropdown-options" *ngIf="options">
    <li *ngIf="placeholder" (click)="$event.stopPropagation()">{{placeholder}}</li>
    <ng-container>
      <li id="li{{i}}" *ngFor="let option of options; let i = index" [class.active]="selected === i"
        (click)="optionSelect(option.title, i, $event)" l10nTranslate>
        {{option.title}}
      </li>
    </ng-container>

  </ul>
</div>
