<ng-container *ngIf="isLoading; else contentTemplate">
  <div class="loading">
    Загрузка...
  </div>
</ng-container>
<ng-template #contentTemplate>
  <div class="recommendation-content">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ваша Анкета
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Данные анкеты</p>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-container *ngFor="let recommendation of recommendationList">
      <app-recommendation-card [name]="recommendation" [rate]="'10'" [score]="'94'"></app-recommendation-card>
    </ng-container>

  </div>
</ng-template>
