<form  class="form-wrapper" (ngSubmit)="onSubmit()">

  <ng-container [ngSwitch]="stepperConfig.currentStepIdx">
    <ng-container *ngSwitchCase="0">
      Step 1
    </ng-container>
    <ng-container *ngSwitchCase="1">
      Step 2
    </ng-container>
    <ng-container *ngSwitchCase="2">
      Step 3
    </ng-container>
    <ng-container *ngSwitchCase="3">
      Step 4
    </ng-container>
  </ng-container>

  <div class="full-width">
    <div class="actions">
      <button type="button" (click)="cancel()">Отмена</button>
      <button type="button"  (click)="prevStep()">Назад</button>
      <button type="button" class="button__accent" (click)="nextStep()" >Далее</button>
      <button type="submit" class="button__accent">Подобрать</button>
    </div>
  </div>
</form>
