<div class="form-wrapper__stepper">
  <h4 class="form-wrapper__steps">
    Шаг {{stepperConfig.currentStepIdx+1}} из {{stepperConfig.maxSteps}}
  </h4>
</div>

<ng-container [ngSwitch]="stepperConfig.currentStepIdx">
  <ng-container *ngSwitchCase="0">
    <app-step-one></app-step-one>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <app-step-two></app-step-two>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <app-step-three></app-step-three>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <app-step-four></app-step-four>
  </ng-container>
</ng-container>
