<div class="recommendation-card">
  <div class="recommendation-card__header">
    <div class="recommendation-card__name">
      Название
    </div>
    <div class="recommendation-card__name">
      Рейтинг
    </div>
    <div class="recommendation-card__name">
      Совпадения с Требованиями
    </div>
  </div>
  <div class="line"></div>
  <div class="recommendation-card__content">
    <div class="recommendation-card__content-name">
      {{name}}
    </div>
    <div class="recommendation-card__content-name">
      {{rate}}-ое место
    </div>
    <div class="recommendation-card__content-name">
      {{score}}%
    </div>
  </div>
</div>
