<form class="form-wrapper" [formGroup]="stepTwoForm">
  <!-- Технологическая ниша компании -->
  <div class="form-control">
    <div class="form-control__label">
      Ваша технологическая ниша
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="companyTechnology" multiple disableRipple>
          <mat-option *ngFor="let company of companyTechnologyList" [value]="company.itemName">{{company.itemName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Выберите ниши, можно выбрать несколько вариантов
    </div>
  </div>

  <!-- Компания является малым или средним предприятием -->
  <div class="form-control">
    <div class="form-control__label">
      Вы являетесь малым или средним предприятием (МСП)
    </div>
    <div class="form-control__input">
      <mat-radio-group formControlName="isCompanyMSP">
        <mat-radio-button value="1">Да</mat-radio-button>
        <mat-radio-button value="0">Нет</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!-- Технологии для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Технологии Вашей компании
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="technologies" multiple disableRipple>
          <mat-option *ngFor="let tech of technologyList" [value]="tech.itemName">{{tech.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
  </div>

  <!-- Категория МСП - если на предыдущий вопрос ответ "Да" *ngIf="stepTwoForm.value.isCompanyMSP" -->
  <div class="form-control" *ngIf="isMSP()">
    <div class="form-control__label">
      Категория МСП
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="mspCategory" disableRipple>
          <mat-option *ngFor="let msp of mspList" [value]="msp.itemName">{{msp.itemName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Выберите Категорию
    </div>
  </div>

  <!-- Бизнес-модель для Инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Бизнес-модель Вашей компании
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="businessModel" multiple disableRipple>
          <mat-option *ngFor="let business of businessModelList" [value]="business.itemName">{{business.itemName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
  </div>

  <!-- Является ли компания резидентом технопарков -->
  <div class="form-control">
    <div class="form-control__label">
      Является ли Ваша компания резидентом технопарков
    </div>
    <div class="form-control__input">
      <mat-form-field appearance="fill">
        <mat-select formControlName="residentList" multiple disableRipple>
          <mat-option *ngFor="let resident of residentAvaibleList" [value]="resident.itemName">{{resident.itemName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
  </div>

  <div class="full-width">
    <app-stepper-actions></app-stepper-actions>
  </div>
</form>
