<div class="plan">
  <p>
    Ваша организация нуждается в инвестициях, мы советуем придерживаться плана.
  </p>
  <h3>
    Дата достижения: 14.02.2024
  </h3>

  <div class="plan__steps">
    <plan-step [stepName]="'Шаг 1 - Акселератор'"
      [serviceName]="'Московский инновационный кластер'"
      [comment]="'
      Вам необходимо получить услуги акселератора, для проработки Вашей идеи.'" [date]="'21.02.2022'" [actionURL]="'https://sk.ru/'">
    </plan-step>
    <plan-step [stepName]="'Шаг 2 - Бизнес инкубатор'"
      [serviceName]="'Высшая Школа Экономики'"
      [comment]="'Проверьте идею и запустите стартап!'" [date]="'14.09.2022'" [actionURL]="'https://sk.ru/'">
    </plan-step>
    <plan-step [stepName]="'Шаг 3 - Площадка пилотного тестирования'"
      [serviceName]="'Агенство Инноваций города Москвы'"
      [comment]="'Протестируйте и доработайте свой продукт.'" [date]="'17.09.2023'" [actionURL]="'https://sk.ru/'">
    </plan-step>
    <plan-step [stepName]="'Шаг 4 - Венчурный фонд'"
      [serviceName]="'Moscow Seed Fund'"
      [comment]="'Вы готовы к инвестициям до 20 000 000 рублей.'" [date]="'14.02.2024'" [actionURL]="'https://sk.ru/'">
    </plan-step>
  </div>

  <div class="share-actions">
    <div class="share-actions__social">
      <p>Поделитесь результатом в социальных сетях</p>
      <share-buttons [theme]="'circles-dark'" [include]="['facebook','vk','telegram','whatsapp', 'email' ]" [show]="11"
        [url]="'https://sgr-prod-web.herokuapp.com/plan'" [title]="'Мой план'"
        [description]="'Мой план по развитию стартапа'"
        [image]="'https://startupguide.innoagency.ru/static/img/general/logo.svg'" [tags]="'plan, startup'">
      </share-buttons>
    </div>
    <button class="button__accent" [routerLink]="['/']">Новая анкета</button>
  </div>
</div>
