.plan {
  margin-top: 40px;
}

.plan__steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.share-actions {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;

  share-buttons {
    display: unset !important;

    .sb-wrapper {
      width: unset !important;
    }
  }

  .button__accent {
    align-self: center;
  }

  p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #1D2435;
  }
}
/* MOBILE */
@media only screen and (max-width: 768px) {
  .plan__steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
