/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 340px;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.mobile__search,
.mobile__logo {
  display: none;
}


/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--body-color-dark);
  padding: 0;
  transition: .5s;
  z-index: var(--z-fixed);

  .nav__link {
    .nav__name {
      display: none;
    }
  }

  .nav__logo {
    height: 40px;
    width: 56px;
    background-image: url('../../../../../../assets/img/logo-short.svg');
  }
}

.nav {
  height: calc(100% - 245px);
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;

  background-color: var(--white-color);

  &.nav__scroll {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--body-color-dark);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--white-color);
  }
}

.nav__top {
  // height: 135px;
  padding-top: 26px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  background-color: var(--white-color);
}

.nav__separator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #E2EBF9;
}

.nav__list-dark {
  padding-top: 24px;
  background-color: var(--body-color-dark);
  height: 100%;

  .nav__link {
    color: var(--text-color-light);
  }
}

.nav__list-main {
  // height: 186px;
  // overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 32px;
  padding: .5rem 0 .5rem 38px;
}

.nav__logo {
  margin-left: 1.5rem;
  background-size: cover;
  height: 40px;
  transition: .3s;
}

.nav__link {
  position: relative;
  height: 32px;
  color: var(--first-color-light);
  margin-bottom: 20px;
  transition: .3s;

  .nav__name {
    display: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;

    &.nav__name-show {
      display: block
    }
  }

  &.active-link {
    font-weight: bold;
  }
}

.nav__link:first-child {
  padding-top: unset;
}

.nav__link:last-child {
  margin-bottom: unset;
}

.nav__link:hover {
  color: #1F5EFF;
  transition: .3s;
}

.active-link.nav__link {
  font-weight: bold;
}

.nav__icon {
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Active links*/
.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  .header {
    height: var(--header-height);
    padding: 0 0 0 calc(var(--nav-width) + 2.438rem);
  }

  .header-pd {
    padding-left: calc(var(--nav-width) + 262px + 2.438rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--body-color-dark);
    padding: 0;
    transition: .0s;
    z-index: var(--z-fixed);

    .nav__link {
      .nav__name {
        &.nav__name-show {
          display: block
        }
      }
    }

    .nav__logo {
      &.nav__logo-short {
        width: 56px;
        background-image: url('../../../../../../assets/img/logo-short.svg');
      }

      &.nav__logo-full {
        width: 198px;
        background-image: url('../../../../../../assets/img/logo-full.svg');
      }
    }

    &.show {
      .nav__link {
        .nav__name {
          &.nav__name-show {
            display: block
          }
        }
      }
    }
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 262px);
  }

  .header__menu {
    display: none;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .l-navbar {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 0;
    gap: 0;
    height: unset;

    .header__menu {
      display: none;
    }

    .search-input {
      display: none;
    }

    .mobile__logo {
      display: flex;
      width: 100%;
      height: 100px;
      padding: 30px 0;
      justify-content: center;
      background-color: #fff;
      align-items: center;

      img {
        width: 198px;
        height: 40px;
      }
    }

    .header__action {
      width: 100%;
    }

    .mobile__search {
      display: block;
      width: 100%;
      padding: 10px 16px;

      .mobile__search-wrapper {
        width: 100%;
        display: flex;
        position: relative;

        align-items: center;

        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 7px;

        padding: 11px 30px 13px 16px;

        input {
          font-size: 16px;
          line-height: 21px;
          color: #6E7A99;
        }

        .search-input__icon {
          position: absolute;
          right: 12px;
          width: 22px;
          height: 22px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
