<div class="greetings">
  <app-greeting-card (click)="onExpress()" [title]="'Экспресс-подбор'"
    [img]="'../../../../assets/img/greetings-cards/express-icon.svg'" [greetingType]="'express'"
    [subTitle]="'Время заполнения 5 минут'" [description]="'Быстрый подбор сервисов, за несколько кликов.
    Обычно заполнение анкеты занимает не более 5 минут.
    На сервисе работает функция Автосохранения, Вы всегда сможете вернуться к редактированию анкеты.'">
  </app-greeting-card>
  <app-greeting-card (click)="onDetailed()" [title]="'Персонализированный подбор'"
    [img]="'../../../../assets/img/greetings-cards/detailed-icon.svg'" [greetingType]="'detailed'"
    [subTitle]="'Время заполнения 15 минут'" [description]="'Подбор сервисов с высокой точностью. Обычно заполнение анкеты занимает не более 15 минут.
    На сервисе работает функция Автосохранения, Вы всегда сможете вернуться к редактированию анкеты.'">
  </app-greeting-card>
  <app-greeting-card (click)="onLearning()" [title]="'Инструмент администратора'"
    [img]="'../../../../assets/img/greetings-cards/learning-icon.svg'" [greetingType]="'learning'"
    [subTitle]="'Обучение модели'" [description]="'Позволяет дообучить модель, для более эффективного подбора сервисов.'">
  </app-greeting-card>
  <!-- <app-greeting-card [title]="'UI KIT'" [img]="'../../../../assets/img/greetings-cards/detailed-icon.svg'"
  [greetingType]="'ui-kit'" [subTitle]="'UI KIT'">
</app-greeting-card> -->
</div>
