<div class="greetings">
  <app-greeting-card [title]="'Экспресс-подбор'" [img]="'../../../../assets/img/greetings-cards/express-icon.svg'"
    [greetingType]="'express'" [subTitle]="'Время заполнения 5 минут'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vestibulum sit cras senectus lectus leo interdum laoreet viverra. Cursus rhoncus gravida lacinia venenatis est venenatis. Pellentesque elit, feugiat diam id adipiscing pulvinar vitae egestas dui. '">
  </app-greeting-card>
  <app-greeting-card [title]="'Точный подбор'" [img]="'../../../../assets/img/greetings-cards/detailed-icon.svg'"
    [greetingType]="'detailed'" [subTitle]="'Время заполнения 15 минут'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis vestibulum sit cras senectus lectus leo interdum laoreet viverra. Cursus rhoncus gravida lacinia venenatis est venenatis. Pellentesque elit, feugiat diam id adipiscing pulvinar vitae egestas dui. '">
  </app-greeting-card>
  <!-- <app-greeting-card [title]="'UI KIT'" [img]="'../../../../assets/img/greetings-cards/detailed-icon.svg'"
  [greetingType]="'ui-kit'" [subTitle]="'UI KIT'">
</app-greeting-card> -->
</div>
