/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 340px;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--body-color-dark);
  padding: 0;
  transition: .5s;
  z-index: var(--z-fixed);

  .nav__link {
    .nav__name {
      display: none;
    }
  }

  .nav__logo {
    height: 40px;
    width: 56px;
    background-image: url('../../../../../assets/img/logo-short.svg');
  }
}

.nav {
  height: calc(100% - 245px);
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;

  background-color: var(--white-color);

  &.nav__scroll {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--body-color-dark);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--white-color);
  }
}

.nav__top {
  // height: 135px;
  padding-top: 26px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  background-color: var(--white-color);
}

.nav__separator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #E2EBF9;
}

// Mobile
.nav__expand {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 220px;
  height: 130px;
  background: linear-gradient(360deg, #FFFFFF 32.67%, rgba(255, 255, 255, 0) 100%);


  .nav__expand-title {
    color: (var(--first-color));
  }
  .nav__expand-pit {
    position: relative;

    .nav__expand-action {
      position: absolute;
      img {
        fill: black;
      }
    }
    .nav__expand-pit-box-bottom {
      position: absolute;
      height: 46px;
      width: 120px;
      left: -44px;
      top: -2rem;
      img {
        width: 120px;
      }
    }
  }
}


.nav__list-dark {
  padding-top: 34px;
  background-color: var(--body-color-dark);
  height: 100%;

  .nav__link {
    color: var(--text-color-light);
  }

  &:before,
  &:after{
    content:"";
    position:absolute;
    top:320px;
    width:50%;
    left:0;
    height:30px;
    background:
      radial-gradient(50% 100% at bottom left, #24314a 100%,#fff 100%) top,
      radial-gradient(50% 100% at top right  , #fff 100%,#24314a 100%) bottom;
    background-size:100% 50%;
    background-repeat:no-repeat;
  }
  &:after {
    transform-origin:right;
    transform:scaleX(-1);
  }
}

.nav__list-main {
  height: 186px;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 32px;
  padding: .5rem 0 .5rem 32px;
}

.nav__logo {
  margin-left: 1.5rem;
  background-size: cover;
  height: 40px;
  transition: .3s;
}

.nav__link {
  position: relative;
  justify-content: center;
  color: var(--first-color-light);
  margin-bottom: 20px;
  transition: .3s;

  .nav__name {
    display: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;

    &.nav__name-show {
      display: block
    }
  }
}

.nav__link:last-child {
  margin-bottom: unset;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__icon {
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Active links*/
.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: var(--header-height);
    padding: 0 0 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--body-color-dark);
    padding: 0;
    transition: .0s;
    z-index: var(--z-fixed);

    .nav__link {
      justify-content: center;

      .nav__name {
        &.nav__name-show {
          display: block
        }
      }
    }

    .nav__logo {
      &.nav__logo-short {
        width: 56px;
        background-image: url('../../../../../assets/img/logo-short.svg');
      }

      &.nav__logo-full {
        width: 198px;
        background-image: url('../../../../../assets/img/logo-full.svg');
      }
    }

    &.show {
      .nav__link {
        justify-content: unset;

        .nav__name {
          &.nav__name-show {
            display: block
          }
        }
      }
    }
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 262px);
  }

  .header__menu {
    display: none;
  }
}
