<form class="form-wrapper" [formGroup]="stepOneForm">
  <!-- Список ОКВЭД -->
  <div class="form-control">
    <div class="form-control__label">
      Основной ОКВЭД
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="ocvdList" [settings]="dropdownSettingsSingle" formControlName="ocvd"
        (onSelect)="onItemSelect($event)"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Выберите один ОКВЭД
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- ДАТА ОСНОВАНИЯ -->
  <div class="form-control">
    <div class="form-control__label">
      Дата основания
    </div>
    <div class="form-control__input">
      <input type="date" formControlName="creationDate">
    </div>
    <div class="form-control__description">
      Выберите дату основания
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Предоставляемые Услуги от Акселератора -->
  <div class="form-control">
    <div class="form-control__label">
      Предоставляемые Услуги от Акселератора
    </div>
    <div class="form-control__input">
      <sgr-dropdown [options]="servicesList" formControlName="services">
      </sgr-dropdown>
    </div>
    <div class="form-control__description">
      Выберите рынок
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Стадия развития компании -->
  <div class="form-control">
    <div class="form-control__label">
      Стадия развития компании
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="stageList" formControlName="companyStage"
        [settings]="dropdownSettingsSingle"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>

  <!-- Рынок для инновационных компаний -->
  <div class="form-control">
    <div class="form-control__label">
      Рынок для Инновационных компаний
    </div>
    <div class="form-control__input">
      <angular2-multiselect [data]="marketList" formControlName="market"
        [settings]="dropdownSettingsMultie"></angular2-multiselect>
    </div>
    <div class="form-control__description">
      Можно выбрать несколько вариантов
    </div>
    <div class="form-control__error">
      Это обязательное поле
    </div>
  </div>


  <div class="full-width">
    <app-stepper-actions></app-stepper-actions>
  </div>
</form>
