.main {
  position: relative;
  margin-top: var(--header-height);
  margin-left: auto;
  margin-right: auto;
  max-width: 1192px;
  padding: 0 0;
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  transition: .5s;
}

.content {
  min-height: 150vh;
}

/*Add padding body movil*/
.main-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {

  /*Add padding body desktop*/
  .main-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* ===== MATERIAL RESTYLE =====*/
// ------ SELECT
::ng-deep {
  .mat-select-panel {
    background: #F2F3F6 !important;
    box-shadow: -4px -4px 8px 2px #FFFFFF, 4px 4px 8px 2px rgba(36, 49, 74, 0.26) !important;
    border-radius: 16px !important;
  }

  .mat-form-field {
    width: 100%;
    font-size: 14px;
    line-height: 18px;

    .mat-form-field-flex {
      padding: 14px 16px !important;
      background: #F2F3F6;
      box-shadow: -4px -4px 8px 2px #FFFFFF, 4px 4px 8px 2px rgba(36, 49, 74, 0.26);
      border-radius: 16px !important;
    }

    .mat-form-field-infix {
      border-top: unset !important;
      padding: unset;
    }

    .mat-form-field-underline {
      display: none !important;
    }

    .mat-form-field-wrapper {
      padding-bottom: unset;
    }

    .mat-select-arrow-wrapper {
      display: unset !important;
    }
  }

  .mat-select-panel {
    .mat-option {
      height: 42px !important;
      padding: 0px 16px !important;
      font-size: 14px !important;
      line-height: 18px !important;
      font-family: IBM Plex Sans !important;
      font-weight: normal !important;
      color: #1D2435;

      &.mat-selected {
        color: #1F5EFF !important;
      }

      &.mat-active {
        background: unset !important;
      }

      .mat-pseudo-checkbox {
        display: none !important;
      }

      .mat-selected {
        font-size: 14px;
        line-height: 18px;

        color: #FF1F55 !important;
      }
    }


  }


}
