<footer class="footer" id="footer">
  <div class="footer__brand">
    <img src="../../../../../assets/img/agency-logo.svg" class="footer__brand-img" alt="">
  </div>
  <div class="footer__information">
    <div class="footer__about">
      <h4> О проекте</h4>
      <p> Политика в отношении обработки персональных данных</p>
    </div>
    <div class="footer__help">
      <p> Нашли опечатку? Выделите текст и нажмите <strong>CTRL + ENTER</strong> </p>
      <p>Нашли ошибку, есть вопросы или хотите добавить информацию на навигатор, напишите нам <br>
        <a href="mailto:innoinfrastructure@develop.mos.ru">innoinfrastructure@develop.mos.ru</a>
      </p>
    </div>
  </div>
</footer>
